.slideChildrenContainer--desktop__home__notification--bar {
  background-color: black;
  height: 20px;
}
/* mobile and tablet */
@media screen and (max-width: 640px){
  .slideChildrenContainer--home__notification--bar {
    background-color: black;
    height: 20px;
  }
}
