.infoCardContainer--home___categories--infocard{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
    cursor: pointer;
}
.infoCardImageContainer--home___categories--infocard{
    width: 100px;
}
.infoCardImage--home___categories--infocard{
    border-radius: 50%;
}
.infoCardTextContainer--home___categories--infocard{
    padding: 0;
}
.infoCardCallActionContainer--home___categories--infocard{
    text-decoration: none;
    margin: 10px 0 !important;
}
.infoCardCallActionText--home___categories--infocard{
    margin: 0;
    text-align: center;
    color: black;
    text-decoration: none;
}
.infoCardCallActionContainer--home___categories--infocard{
    margin: 10px;
}
