/* MOBILE */
/* section categories */
.flexRow--home__categories--containerRow {
  /* background-color: blue; */
  height: 200px;
  margin: 15px 0;
}
/* DESKTOP   ------------------------------*/
/* section categories */
.flexCol--desktop__categories--wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.flexRow--categories__wrapper-section-01{
  width: 80%;
  margin: 15px auto;
}
.flexRow--categories__wrapper-section-02{
  width: 80%;
  margin: 15px auto;
}
.flexRow--desktop__home--collection{
  margin: 15px 0;
}
