/* MOBILE */
/* section categories */
.flexRow--category__type--section-01 {
  background-color: blue;
}
.flexCol--home__categories--types-01 {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flexCol--home__categories--types-02 {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

/* DESKTOP   ------------------------------*/
/* section categories */
.flexCol--desktop__categories--wrapper{
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
 
}
.flexRow--categories__wrapper-section-01{
  width: 80%;
  background-color: black;
  margin: 15px auto;
}
.flexRow--categories__wrapper-section-02{
  width: 80%;
  background-color: red;
  margin: 15px auto;
}
.flexRow--desktop__home--collection{
  margin: 15px 0;
}
