.element :global(.vtex-button) {
  background-color: var(--color-primary);
  border: none;
  border-radius: 0;
}
.container--listLayout {
  max-width: 100% !important;
  border-radius: 0;
  padding: 0 10px;
}
