.galleryTitle--layout {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 2rem;
  border-bottom: solid 1px var(--color-secondary);
}
/* mobile - PLP*/
@media screen and (max-width: 640px) {
  .filterPopupTitle {
    font-size: 0.8rem;
  }
  .filterPopupArrowIcon {
    padding-left: 0.5rem;
  }
  .galleryTitle--layout {
    font-size: 1.5rem;
  }
}
