.galleryTitle--layout {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 2rem;
  border-bottom: solid 1px var(--color-secondary);
}
/* mobile - PLP*/
@media screen and (max-width: 640px) {
  .filterPopupTitle {
    font-size: 0.8rem;
  }
  .filterPopupArrowIcon {
    padding-left: 0.5rem;
  }
  .galleryTitle--layout {
    font-size: 1.5rem;
  }
}
.filterButtonsBox :global(.vtex-button) {
  background-color: #c9192e;
  border: none;
  border-radius: 0;
  color: #fff;
}
.filterTemplateOverflow :global(.vtex-slider__base-internal) {
  background-color: #c9192e;
}
.filterTemplateOverflow :global(.vtex-slider__selector) {
  background-color: #c9192e;
}
:global(.vtex-slider__tooltip--active) {
  background-color: #c9192e;
  border: none;
  border-radius: 0;
}
