.flexCol--wrapper__section--menu {
  padding: 20px;
}
.flexRow--home__footer--container {
  background-color: #1a1a1a;
}
.flexRow--wrapper__section--logo-vtex {
  padding: 10px 0;
}
.flexRow--mobile__home--newsletter {
  border-bottom: solid 0.3rem #fff;
}
.flexRow--desktop__footer--container
  :global(.vtex-store-components-3-x-container) {
  padding: 0 !important;
}
.flexRow--home__footer--container
  :global(.vtex-store-components-3-x-container) {
  background-color: #1a1a1a;
  padding: 0 !important;
}

/* DESKTOP */
/* row - footer general */
.flexRow--desktop__footer--container {
  background-color: #1a1a1a;
}
/* row - vans logo */
.flexRow--footer__section--logo-vans {
  margin: 20px 0;
}
.flexRow--desktop__home--newsletter {
  border-bottom: solid 0.3rem #fff;
}

/* mobile - footer*/
@media screen and (max-width: 440px) {
  .flexRowContent--trigger__row {
    display: flex;
  }
  .flexCol--button__arrowdown :global(.vtex-store-icons-0-x-caretIcon) {
    margin: 5px 0 0 120px;
    color: white;
  }
}
/* tablet - footer*/
@media screen and (min-width: 440px) and (max-width: 1280px) {
  .flexRowContent--trigger__row {
    display: flex;
  }
  .flexCol--button__arrowdown :global(.vtex-store-icons-0-x-caretIcon) {
    margin: 5px 0 0 300px;
    color: white;
  }
  .flexRowContent--mobile__home--newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .flexRowContent--mobile__home--newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: 70% !important;
  }
}
   