.menuContainer--footer__menu--class {
  display: flex;
  align-items: center;
  color: var(--font-color) !important;
}
.menuContainer--footer__menu--class :global(.vtex-menu-styledLinkContent) {
  color: var(--font-color);
}
/* color font - desktop - footer */
.styledLinkContent--footer__menu--link {
  color: var(--font-color);
}
/* .styledLinkContainer{
  margin: 0;
} */
/* mobile -- footer*/
@media screen and (max-width: 440px){
    .menuContainer--footer__content--menu :global(.vtex-menu-2-x-styledLink) {
        color: var(--font-color);
      }
      .menuContainer--footer__content--menu{
        margin: 0 0 20px 0;
      }
}
/* tablet -- footer*/
@media screen and (min-width: 440px) and (max-width: 1280px){
    .menuContainer--footer__content--menu :global(.vtex-menu-2-x-styledLink) {
        color: var(--font-color);
      }
      .menuContainer--footer__content--menu{
        margin: 0 0 20px 0;
      }
}