.paragraph--compra__button--text{
    color: white;
    margin: 0 0 10px 0;
}
.paragraph--cliente__button--text{
    color: white;
    margin: 0 0 10px 0;
}
.paragraph--legal__button--text{
    color: white;
    margin: 0 0 10px 0;
}