.flexCol--wrapper__section--menu{
    padding: 20px; 
}
.flexRow--home__footer--container{
    background-color: #1a1a1a;
}
.flexRow--wrapper__section--logo-vtex{
    padding: 10px 0;
}

/* DESKTOP */
/* row - footer general */
.flexRow--desktop__footer--container{
    background-color: #1a1a1a;
}
/* row - vans logo */
.flexRow--footer__section--logo-vans{
    margin: 20px 0;
}
