.paragraph--compra__button--text{
    color: white;
    margin: 0 0 10px 0;
}
.paragraph--cliente__button--text{
    color: white;
    margin: 0 0 10px 0;

}
.paragraph--legal__button--text{
    color: white;
    margin: 0 0 10px 0;

}
.paragraph--section__rrss--title{
    margin: 10px 0 10px 0;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.paragraph--section_copyright{
    margin: 0 0 5px 0;
}
/* mobile - footer */
.wrapper--home__newsletter--subtitle{
    padding: 0 10px;
}