/* .container--novelty__productsShelf-01{
    background-color: blueviolet;
    margin: 0;
    width: 150px;
    height: 250px;
 
}
.imageContainer{
    background-color: black;
    width: 100px;
    height: 100px;
}
.slideChildrenContainer--carousel{
    background-color: blue;
} */
/* .brandName{
    background-color: brown;
}
.priceContainer{
    background-color: aqua;
} */
