/* estilo contenedor de categorias menu */
.submenuWrapper--desktop__departament {
  margin-top: 5px;
  background-color: var(--bg-color);
  opacity: 0.9;
  border: 0;
  position: fixed;
  right: 0;
}
/* estilos de titulo categoria - desktop*/
.styledLinkContent--desktop__category--title {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  pointer-events: none;
  cursor: none !important;
}
.menuContainer--menu_item--style :global(.vtex-menu-2-x-styledLinkContent) {
  color: #fff;
}
.menuContainer--menu_item--style
  :global(.vtex-menu-2-x-styledLinkContent):hover {
  color: #C9192E;
}
/* estilos menu item "/" */
.styledLinkContainer--desktop__departament--menu-item{
  margin: 0;
}
.styledLinkContent--desktop__departament--menu-item::after{
  content: "/";
  font-weight: bold;
  color: var(--color-secondary);
  padding: 0 10px;
}
.menuContainerNav--header__menu--department :global(.vtex-menu-2-x-styledLink){
  color: #fff;
}
.menuContainerNav--header__menu--department :global(.vtex-menu-2-x-menuItem){
  border-top: 1px solid #cfdad0;
 
}
.menuContainerNav--header__menu--department :global(.vtex-menu-2-x-submenuAccordion){
  width: 100%;
}
.menuContainerNav--header__menu--department :global(.vtex-menu-2-x-menuContainerNav){
  width: 100%;

}




