.drawer--main__top--menu{
    background-color: #000;
    width: 100%;
}
.childrenContainer--main__top--menu{
    display: flex;
    flex-direction: column;
}
.closeIconContainer--main__top--menu{
    display: flex;
    justify-content: flex-end;
}
.closeIconButton--main__top--menu{
   color: var(--font-color);
}
