.flexRow--header__main--top {
  background-color: white;
}

/* DESKTOP */
.flexRow--desktop__header--main {
  background-color: white;
}
.flexRow--desktop__departament--style {
  background-color: black;
  width: 100%;
}
