.flexRow--mobile__home--newsletter {
  background-color: var(--bg-color);
  margin-bottom: 20px;
}
/* estilo newsletter desktop */
.flexRow--desktop__home--newsletter {
  background-color: var(--bg-color);
}
