.buttonLink--newsletter__button {
  background-color: var(--color-primary);
  width: 80px !important;
  color: var(--font-color);
  border-radius: 0;
  border: 0;
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
}
.buttonLink--newsletter__button:hover {
  background-color: var(--color-primary-hover);
}
